NAMA: MAULANA MAHATIR

<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [2]:
print("Hello, my name is Olan")

Hello, my name is Olan

In [3]:
nama = "Olan"
print("Hello, my name is", nama)

Hello, my name is Olan

Hello, my name is Michelle
Hello, my name is Michelle
Hello, my name is Michelle
Hello, my name is Michelle

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Eillen memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [13]:
print("a.", 4 * 15/12)

a. 5.0

In [14]:
print("b.", 8**(1/3))

b. 2.0

In [29]:
a = 50000 // 7500  
b = 50000 - (a * 7500) 
print("c. Jadi Eillen mendapat", a, "paket binder berisi", a * 100, "lembar dengan kembalian sebesar", b)

c. Jadi Eillen mendapat 6 paket binder berisi 600 lembar dengan kembalian sebesar 5000

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

1000 <class 'int'>
5 <class 'int'>
5.0 <class 'float'>
1000 <class 'str'>

In [30]:
angka_str = "1000"
angka_int = int(angka_str)
print("1. ",angka_int, type(angka_int))

1.  1000 <class 'int'>

In [31]:
angka_float = 5.25
angka_int = int(angka_float)
print("2. ",angka_int, type(angka_int))

2.  5 <class 'int'>

In [32]:
angka_int = 5
angka_float = float(angka_int)
print("3. ",angka_float, type(angka_float))

3.  5.0 <class 'float'>

In [33]:
angka_int = 1000
angka_str = str(angka_str)
print("4. ",angka_str, type(angka_str))

4.  1000 <class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

what a man'
['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

In [38]:
text = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
print("1.", text[20:31])

words = text.split()
print("2.", words)

reverse = text[::-1]
print("3.", reverse)

1. what a man'
2. ['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
3. .slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama prodi di UC, simpan dalam variabel "Prodi".
2.   Cetaklah panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index prodi ISB

In [57]:
Prodi = ('ISB','IMT','IBM','HTB')
print("1.",Prodi)
print("2. ", len(Prodi))
print("3. ",Prodi.index('ISB'))

1. ('ISB', 'IMT', 'IBM', 'HTB')
2.  4
3.  0

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti makanan yang kosong dengan nama makanan baru (makanan yang mana bebas)

In [56]:
favorit = ["Bakso", "Mie Ayam", "Sate"]
print (favorit[0])
print (favorit[1])
print (favorit[2])
print("2. ")
for makanan in favorit:
    print(f"Aku ingin pesan {makanan}")
print("3. ")
favorit[1] = "Bihun"
for makanan in favorit:
    print(f"Aku ingin pesan {makanan}")

Bakso
Mie Ayam
Sate
2.
Aku ingin pesan Bakso
Aku ingin pesan Mie Ayam
Aku ingin pesan Sate
3.
Aku ingin pesan Bakso
Aku ingin pesan Bihun
Aku ingin pesan Sate

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

{1, 2, 3, 4, 6, 8}
True
True

In [63]:
a = {1, 2, 3, 4} 
b = {2, 4, 6, 8} 
c = {5, 7} 
d = {2, 3}

dua = a|b
print(dua)

tiga = not (a & c) 
print(tiga)

empat = d.issubset(a)
print(empat)

{1, 2, 3, 4, 6, 8}
True
True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

Masukkan jumlah penggunaan listrik (kWh): 1500
Tarif yang harus dibayar: Rp 3300000.0

In [68]:
penggunaan = float(input("Masukkan jumlah penggunaan listrik (kWh): "))

if penggunaan < 100:
    penggunaan = 100

if penggunaan < 1000:
    total_tarif = penggunaan * 1000
else:
    total_tarif = penggunaan * 2000
    total_tarif += total_tarif * 0.10

print(f"Tarif yang harus dibayar: Rp {total_tarif:.1f}")

Masukkan jumlah penggunaan listrik (kWh): 1500
Tarif yang harus dibayar: Rp 3300000.0

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

Masukkan jumlah peserta: 101
Jumlah angkot yang diperlukan: 11

In [67]:
peserta = int(input("Masukkan jumlah peserta: "))

if peserta < 0:
    print("Jumlah orang tidak bisa negatif!")
else:
    kapasitas_angkot = 10
    jumlah_angkot = (peserta + kapasitas_angkot - 1) // kapasitas_angkot
    print(f"Jumlah angkot yang diperlukan: {jumlah_angkot}")

Masukkan jumlah peserta: 101
Jumlah angkot yang diperlukan: 11

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan rand untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buatlah matriks 3x4 menggunakan numpy array berisi angka 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [69]:
# 1
import numpy as np

hari = np.array(['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu'])

print(hari)

['Senin' 'Selasa' 'Rabu' 'Kamis' 'Jumat' 'Sabtu' 'Minggu']

In [ ]:
# 2

['Jumat' 'Kamis' 'Minggu' 'Rabu' 'Sabtu' 'Selasa' 'Senin']

In [70]:
import numpy as np

hari = np.array(['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu'])

# Mengurutkan array sesuai abjad
hari.sort()

print(hari)

['Jumat' 'Kamis' 'Minggu' 'Rabu' 'Sabtu' 'Selasa' 'Senin']

In [ ]:
import random
# 3

Selamat hari Sabtu adalah hari baikmu bulan ini!

In [73]:
import numpy as np
import random

hari = np.array(['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu'])

# Mengambil satu hari secara acak
hari_acak = random.choice(hari)

# Mencetak hasil
print(f"Selamat hari {hari_acak} adalah hari baikmu bulan ini!")

Selamat hari Selasa adalah hari baikmu bulan ini!

In [ ]:
# 4

Shape: (3, 2)
Dimensi: 2

In [80]:
import numpy as np

# Membuat numpy array 3x2 berisi angka 1-6
matrix = np.array([[1, 2], [3, 4], [5, 6]])


# Mencetak shape dari array
print("Shape:", matrix.shape)

# Mencetak dimensi dari array
print("Dimensi:", matrix.ndim)

Shape: (3, 2)
Dimensi: 2

In [ ]:
# 5

[ 3  7 11]

In [79]:
import numpy as np

matriks = np.array([[1, 2, 3, 4],
                    [5, 6, 7, 8],
                    [9, 10, 11, 12]])

kolom_ketiga = matriks[:, 2]

print(kolom_ketiga)

[ 3  7 11]

In [ ]:
# 6

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

In [81]:
import numpy as np

matriks = np.array([[1, 2, 3, 4],
                    [5, 6, 7, 8],
                    [9, 10, 11, 12]])

matriks_reshaped = matriks.reshape(2, 6)

print(matriks_reshaped)

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

0    Information
1        Systems
2            for
3       Business
dtype: object

  brand    model  year
0  Ford  Mustang  1964

In [82]:
import pandas as pd


data_series = pd.Series(["Information", "Systems", "for", "Business"])

print(data_series)

0    Information
1        Systems
2            for
3       Business
dtype: object

In [83]:
import pandas as pd

data_dict = {"brand": ["Ford"], "model": ["Mustang"], "year": [1964]}
data_dataframe = pd.DataFrame(data_dict)

print(data_dataframe)

  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [87]:
# 3
import pandas as pd

url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"

df = pd.read_csv(url)

print(df.head())

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [86]:
# 4
import numpy as np

matrix = np.array([[1, 2], [3, 4], [5, 6]])


print("Shape:", matrix.shape)

print("Dimensi:", matrix.ndim)

Shape: (3, 2)
Dimensi: 2

In [85]:
# 5
import pandas as pd


url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"

df = pd.read_csv(url)

df_random_sample = df.sample(n=10, random_state=42)  

print("5 baris pertama dari dataset acak:")
print(df_random_sample.head())

5 baris pertama dari dataset acak:
    R&D Spend  Administration  Marketing Spend       State     Profit
13   91992.39       135495.07        252664.93  California  134307.35
39   38558.51        82982.09        174999.30  California   81005.76
30   61994.48       115641.28         91131.24     Florida   99937.59
45    1000.23       124153.04          1903.93    New York   64926.08
17   94657.16       145077.58        282574.31    New York  125370.37

In [ ]:
# 6

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [94]:
# 6
import pandas as pd

# URL dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Menampilkan informasi singkat dari DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [ ]:
# 7

    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [95]:
#7
import pandas as pd

# URL dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Menampilkan data 'R&D Spend' dan 'Marketing Spend' untuk kota 'California'
california_data = df[df['State'] == 'California'][['R&D Spend', 'Marketing Spend']]

print(california_data)

    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [ ]:
# 8

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [96]:
# 8
import pandas as pd

# URL dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Menampilkan jumlah missing value untuk setiap kolom
missing_values = df.isnull().sum()
print(missing_values)

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [97]:
# 9
# Menghapus baris dengan Profit di bawah 50,000
df_filtered = df[df['Profit'] >= 50000]

print(df_filtered)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08

In [ ]:
# 10

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [98]:
# 10
# Mengurutkan DataFrame berdasarkan 'Marketing Spend' dari terbesar ke terkecil
df_sorted = df_filtered.sort_values(by='Marketing Spend', ascending=False)

print(df_sorted)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
27   72107.60       127864.55        353183.81    New York  105008.31
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
23   67532.53       105751.03        304768.73     Florida  108733.99
22   73994.56       122782.75        303319.26     Florida  110352.25
21   78389.47       153773.43        299737.29    New York  111313.02
20   76253.86       113867.30        298664.47  California  118474.03
18   91749.16       114175.79        294919.57     Florida  124266.90
17   94657.16       145077.58        282574.31    New York  125370.37
16   78013.11       121597.55        264346.06  California  126992.93
15  114523.61       122616.84        261776.23    New York  129917.04
14  119943.24       156547.42        256512.92     Florida  132602.65
13   91992.39       135495.07        252664.93  California  134307.35
12   93863.75       127320.38        249839.44     Florida  141585.52
11  100671.96        91790.61        249744.55  California  144259.40
10  101913.08       110594.11        229160.95     Florida  146121.95
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
6   134615.46       147198.87        127716.82  California  156122.51
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
19   86419.70       153514.11             0.00    New York  122776.86

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction date', 'house age', 'distance to the nearest MRT station', 'number of convinience stores', 'latitude', 'longitude', 'house price of unit area'
5. Cek apakah ada missing values dari masing-masing kolom

In [99]:
# 1
import pandas as pd

# 1. Mengimpor dataset ke dalam DataFrame
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv"
df = pd.read_csv(url)
(df)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [100]:
# 2
random_data = df.sample(n=10, random_state=42)
print("10 Data random dari dataset:")
(random_data)

10 Data random dari dataset:

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
358,359,2013.167,1.1,193.58450,6,24.96571,121.54089,45.1
350,351,2013.000,13.2,492.23130,5,24.96515,121.53737,42.3
373,374,2013.083,0.0,274.01440,1,24.97480,121.53059,52.2
399,400,2012.917,12.7,170.12890,1,24.97371,121.52984,37.3
369,370,2012.667,20.2,2185.12800,3,24.96322,121.51237,22.8
72,73,2013.583,32.5,424.54420,8,24.97587,121.53913,36.3
262,263,2012.917,15.9,289.32480,5,24.98203,121.54348,53.0
140,141,2013.250,16.2,289.32480,5,24.98203,121.54348,51.4
93,94,2012.917,31.9,1146.32900,0,24.94920,121.53076,16.1
70,71,2013.583,6.6,90.45606,9,24.97433,121.54310,59.0

In [101]:
# 3
print("\nInformasi deskriptif dari dataset:")
(df.describe())

Informasi deskriptif dari dataset:

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,2013.148971,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,119.655756,0.281967,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,1.000000,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.917000,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,207.500000,2013.167000,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,310.750000,2013.417000,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,414.000000,2013.583000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [102]:
# 4
df = df.drop(columns=['No'])
df.columns = [
    'transaction date',
    'house age',
    'distance to the nearest MRT station',
    'number of convenience stores',
    'latitude',
    'longitude',
    'house price of unit area']

df.head()

,transaction date,house age,distance to the nearest MRT station,number of convenience stores,latitude,longitude,house price of unit area
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [103]:
# 5
missing_values = df.isnull().sum()
print("\nMissing values di setiap kolom:")

(missing_values)

Missing values di setiap kolom:

transaction date                       0
house age                              0
distance to the nearest MRT station    0
number of convenience stores           0
latitude                               0
longitude                              0
house price of unit area               0
dtype: int64

## **Goodluck :)**